<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h1>Welcome to my CodeFellowship</h1>
<form action="/login" method="post">
  <fieldset>
    <legend>Login</legend>
    <label>Username:</label>
    <input type="text" name="username"/>
    <label>Password:</label>
    <input type="password" name="password"/>
    <input type="submit" value="Login"/>
  </fieldset>
</form>
<p>Don't have an account? Don't worry, signup is a breeze <a href="/signup">Sign up</a></p>
</body>
</html>
