<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>myprofile.html</title>
</head>
<body>
<h1>User: <span th:text="${user.username}"></span></h1>

<!--STATIC IMAGE PLACEHOLDER-->
<img src="https://placehold.co/300x300" alt="Placeholder Profile Image">

<p>First Name: <span th:text="${user.firstName}"></span></p>
<p>Last Name: <span th:text="${user.lastName}"></span></p>
<p>Bio: <span th:text="${user.bio}"></span></p>

<h2>Saved Posts:</h2>
<ul>
    <li th:each="post : ${user.posts}">
        <span th:text="${post.body}"></span>
        <span>Posted on: <span th:text="${post.createdAt}"></span></span>
    </li>
</ul>

<h2>Create a New Post:</h2>
<form action="/myprofile" method="post">
    <textarea name="body" rows="4" cols="50" placeholder="Start writing..."></textarea>
    <button type="submit">Submit</button>
</form>

<a th:href="@{/users}">View All Users</a>

<a href="/logout">Logout</a>
</body>
</html>

